.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 140vh;
    background: black;
    opacity: 0.7;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
