.new__mod {
    padding: 5px 20px;
}
.mod__selection {
    display: flex;
    flex-direction: column;
}
.mod__selection label {
    line-height: 40px;
    font-size: 20px;
}
.mod__selection select {
    width: 20%;
    height: 40px;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 3px;
    outline: none;
    margin: 10px 0 20px 0;
    padding: 0 10px;
}

.mod__container {
    border: 2px solid gray;
    border-radius: 3px;
    width: 100%;
}

textarea::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 18px;
}

textarea:-moz-placeholder {
    font-family: inherit;
    font-size: 18px;
}

textarea::-moz-placeholder {
    font-family: inherit;
    font-size: 18px;
}

textarea:-ms-input-placeholder {
    font-family: inherit;
    font-size: 18px;
}

textarea::placeholder {
    font-family: inherit;
    font-size: 18px !important;
}
.txtarea {
    font-size: 18px;
    font-family: inherit;
    padding: 10px;
}
.editor {
    font-size: 18px;
    font-family: inherit;
    font-weight: 400 !important;
}
.ck.ck-editor__editable {
    height: 200px;
}
.radio__container {
    margin: 15px 0;
}

.mod,
.map,
.texture,
.skin,
.seed {
    width: 96%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.title__container,
.category__container,
.file__container,
.thumbnail__container,
.screenshot__container,
.description__container,
.rating__container,
.viewcount__container,
.viewdownload__container {
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

.title__container input,
.category__container select,
.file__container input,
.thumbnail__container input,
.screenshot__container input,
.description__container input,
.rating__container select,
.viewcount__container input,
.viewdownload__container input {
    height: 35px;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
}

.button__container button {
    margin: 10px 0;
}

.error__message {
    background: #ff0028 !important;
    padding: 10px 30px !important;
    color: white !important;
}
.success__message {
    background: #9bc400 !important;
    padding: 10px 30px !important;
    color: white !important;
}
.error__message__modal {
    background: #ff0028 !important;
    padding: 10px 30px !important;
    color: white !important;
}
.success__message__modal {
    background: #9bc400 !important;
    padding: 10px 30px !important;
    color: white !important;
}

.show__screenshot {
    display: flex;
    flex-wrap: wrap;
}
.show__screenshot img {
    display: flex;
    width: 20%;
    min-width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.mod__list {
    padding: 10px;
}

.action__button {
    padding: 5px;
    outline: none;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: white;
    width: 60px;
}
.edit__btn {
    padding: 5px 15px;
    background: rgb(41, 189, 115);
}
.delete__btn {
    background: red;
}
.mod__list table {
    width: 100%;
    font-size: 14px;
}
.mod__list table > tr:nth-child(1) td {
    font-weight: 600 !important;
}
.mod__list table tr td:nth-child(1) {
    width: 16%;
    word-wrap: break-word;
}
.mod__list table tr td:nth-child(2) {
    width: 16%;
}
.mod__list table tr td:nth-child(3) {
    width: 5%;
}
.mod__list table tr td:nth-child(4) {
    width: 8%;
}
.mod__list table tr td:nth-child(5) {
    width: 8%;
}
.mod__list table tr td:nth-child(6) {
    width: 24%;
    text-align: left;
}
.mod__list table tr td:nth-child(7) {
    width: 6%;
}
.mod__list table tr td:nth-child(8) {
    width: 6%;
}
.mod__list table tr td:nth-child(9) {
    width: 6%;
}
.mod__list table tr td:nth-child(10) {
    width: 5%;
}

.skin__table tr:nth-child(1) td {
    font-weight: 600 !important;
}
.skin__table tr td:nth-child(1) {
    width: 13% !important;
    word-wrap: break-word;
}
.skin__table tr td:nth-child(2) {
    width: 13% !important;
}
.skin__table tr td:nth-child(3) {
    width: 10% !important;
}
.skin__table tr td:nth-child(4) {
    width: 10% !important;
}
.skin__table tr td:nth-child(5) {
    width: 20% !important;
}
.skin__table tr td:nth-child(6) {
    width: 8% !important;
}
.skin__table tr td:nth-child(7) {
    width: 8% !important;
}
.skin__table tr td:nth-child(8) {
    width: 8% !important;
}
.skin__table tr td:nth-child(9) {
    width: 10% !important;
}

/*Modal Area*/
.mod__modal {
    border: 2px solid gray;
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
}
.mod__container__modal {
    margin-top: 100px;
}
.ReactModal__Content {
    margin: 5vh;
}
.close-modal {
    display: flex;
    width: 20px;
    align-content: center;
    justify-content: center;
    float: right;
    margin-top: 0;
    margin-bottom: 100px;
}
