.login {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login__form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}
.login__form h3 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.login__form button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    outline: none;
    border: none;
    color: white;
    font-weight: 600px !important;
    font-weight: 20px !important;
    cursor: pointer;
}
.input__container {
    font-weight: 400 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input__container label {
    font-weight: 600 !important;
    font-size: 14px;
}
.input__icon {
    font-weight: 400 !important;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    border-bottom: 1px solid gray;
}
.input__icon .MuiSvgIcon-root {
    padding: 10px 0;
    color: gray;
    font-size: 16px;
}
.input__icon input {
    outline: none;
    border: none;
    width: 90%;
    font-size: 18px;
    padding: 5px 10px;
}
.input__icon input::placeholder {
    font-size: 14px;
}

.login__error {
    color: red;
    width: 100%;
    text-align: center;
}
