/* .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    min-height: calc(100%);
    max-height: 100%;
    width: 15vw;
    min-width: 200px;
    background: #494d5f;
    overflow: hidden;
} */
.sidebar__menu {
    padding: 10px;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.menu__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}
.menu__item .MuiSvgIcon-root {
    margin-right: 20px;
}
