.category {
    padding: 20px;
}
.category .category__input {
    display: flex;
    flex-direction: column;
}
.category__input label {
    line-height: 50px;
    font-weight: 600;
    font-size: 18px;
}
.category__input input {
    height: 30px;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.category__input button {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}
table {
    width: 50%;
    border-collapse: collapse;
}
table,
td {
    height: 20px;
    border: 1px solid lightgray;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500 !important;
}
td:nth-child(1) {
    width: 10%;
}
td:nth-child(2) {
    width: 30%;
}
td:nth-child(3) {
    width: 10%;
}

thead > tr > td {
    font-weight: 600 !important;
}
tr:nth-child(1) {
    background: #e0e0e0;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.error__message {
    background: #ff0028 !important;
    padding: 10px 30px !important;
    color: white !important;
}
.success__message {
    background: #9bc400 !important;
    padding: 10px 30px !important;
    color: white !important;
}
.action__button {
    padding: 5px;
    outline: none;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: white;
    width: 60px;
}
.edit__btn {
    padding: 5px 15px;
    background: rgb(41, 189, 115);
}
.delete__btn {
    background: red;
}
