@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    background: white;
}
.container {
    width: 80%;
    margin: auto;
}
.btn {
    padding: 10px 30px;
    margin: 0 10px;
    outline: none;
    background: transparent;
    font-family: inherit;
    border-radius: 3px;
    font-weight: 600;
}
.btn:hover {
    cursor: pointer;
}
.primary {
    color: white;
    background: #8458b3;
    border: 1px solid #6e40a0;
    margin: 0;
}
.secondary {
    color: white;
    background: transparent;
    border: 1px solid white;
    width: fit-content;
}
